fastapi
uvicorn
python-multipart
pydub
sqlalchemy
psycopg2
pydantic
python-jose
passlib
bcrypt
pytube
scipy
torch
torchaudio
transformers
datasets
accelerate
sentencepiece
git+https://github.com/m-bain/whisperx.git
git+https://github.com/jianfch/stable-ts.git
git+https://github.com/facebookresearch/demucs#egg=demucs
